{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <center>
      <h1>Tenaga Pendidik FKIP</h1>
      <table class="table table-success table-striped">
          
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Nip</th>
            <th>Jabatan</th>
        </tr>
        
            {% for tendik in educator %}
            <tr>
                <td>{{tendik.no}}</td>
                <td>{{tendik.nama}}</td>
                <td>{{tendik.nip}}</td>
                <td>{{tendik.jabatan}}</td>
            </tr>
            {% endfor %}
        
        </table>
        </center>
        </body>
    
    
{% endblock %}