{% extends 'base.html' %}
{% load static %}

{% block content %}
    <center>
        <h2 style="background-color:whitesmoke;">FAKULTAS HUKUM</h2>
    </center>

    <p></p>
    <center>
    <img src="https://pict.sindonews.net/dyn/732/pena/news/2022/08/11/211/852907/profil-untirta-kampus-yang-trending-di-twitter-karena-disebut-menjemur-mahasiswa-hingga-10-jam-tanpa-makan-dan-minum-aib.jpg" alt="Gambar FH" width="500px">>
    </center>

    <p></p>
    <h3 style="background-color:rgba(51, 97, 84, 0.831);">Sejarah</h3>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
   
    <h3 style="background-color:rgba(108, 53, 23, 0.831);">Program Studi</h3>
    <p style="font-family: 'times new roman'">{{ prodi }}</p>
    
{% endblock %}