{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <h2 style="background-color:rgb(153, 147, 47);">Biodata Diri</h2>
</center>

<p></p>
<center>
    <img src="/static/images/IMG-20210706-WA0021.jpg" alt="Foto diri sendiri" width="250px">
</center>

<p></p>
<h3 style="background-color:rgba(177, 59, 150, 0.831);">Biodata Penulis</h3>
<p style="font-family: 'times new roman'">Nama : Pipin</p>
<p style="font-family: 'times new roman'">NIM : 2225210103</p>
<p style="font-family: 'times new roman'">Kelas : 3A</p>
<p style="font-family: 'times new roman'">Fakultas : Keguruan dan Ilmu Pendidikan</p>
<p style="font-family: 'times new roman'">Jurusan : Pendidikan Matematika</p>
<p style="font-family: 'times new roman'">Dosen Pengampu : Aan Hendrayana</p>
<p style="font-family: 'times new roman'">Hobi : Menghitung</p>
<hr />

<footer>
    <div class="font-small">&copy; Teknologi Informasi dan Komunikasi Untuk Pembelajaran</div> 
    <div class="font-small">@pipin_n_</div>
</footer>


{% endblock %}